.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.map-container{
  width: 100%;
  height: 85vh;
  margin-top: 10px;
}
.search-wrapper{
  display: flex;
}
.place-list-image{
   height: 350px 
}


@media only screen and (max-width :950px) {

  #list-container{
     height: 45vh; 
    overflow: hidden;
    width: 100%;
    padding: 0;
  }
  #list-element{
    height: 45vh; 
 }
 #card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
 .map-container{
  height: 40vh;
  margin-left: 8px;
 }
 .place-list-image{
  width: 100%;
  height: 30vw;
  align-self: center;
  margin: auto;
 }
 .image-wrapper{
  
  width:30vw;
  height: 30vw;
  float: left;
 }
 .card-content{
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}
#form{
  height: 5%;

}
}